*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: blueviolet;
  font-size: 3rem;
}
main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  gap: 1rem;
}
button{
  font-size: 3rem;
  padding: 1rem;
  border-radius: .5rem;
}